---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$ubuntu: "Ubuntu", Arial, sans-serif !default;

h2 {
  font-size: 1.3em;
}

// Custom
.archive__item-title a {
    text-decoration: none;
    // font-family: $ubuntu;
}

.archive__item-excerpt {
  margin-top: 0.7em;
  // font-family: $ubuntu;
  font-weight: 400;
  font-size: 0.9em;
}

.archive__item .page__meta {
    // font-family: $ubuntu;
    font-weight: 400;
    // font-size: 0.7em;
}

.search-content {
  .archive__item {
    width: 100%;
  }
}

.page__content {
  font-family: $global-font-family;
  font-size: $type-size-5;
  line-height: 1.9em;

  // dl,p,li {
  //   font-size: 1.1em;
  // }
}

.page__title {
    line-height: 1.5em;
    // h1 {
    //   font-size: 1.3em;
    // }
}

.page__meta {
  margin-top: 0em;
}

.list__item {
  .page__meta {
    font-size: initial;
  }
}

.highlighter-rouge {
    color: #4e91a5;
    background-color: #4e91a524;
}

.sidebar {
  @include breakpoint(max-width $large) {
    display: none;
  }
}

.sidebar .author__name {
  font-size: 1em;
}

.author__urls {
  a {
    font-size: inherit;
  }
}

.greedy-nav {
  font-family: $ubuntu;
  font-weight: 500;
  .masthead__menu-item,
  .site-subtitle {
    font-weight: 400;
  }
  a {
    margin: 0 0.5em;
  }
}


.wide2 {
  .page {
    float: left;
    width: 100%;
    @include breakpoint($large) {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: 0;
  }
}


.wide_with_author {
  .page {
    float: right;
    width: 100%;
    @include breakpoint($large) {
      float: right;
      width: calc(100% - #{$right-sidebar-width-narrow});
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
      padding-right: 0;
    }
  }
}

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 19px;

  @include breakpoint($medium) {
    font-size: 20px;
  }

  @include breakpoint($large) {
    font-size: 21.5px;
  }

  @include breakpoint($x-large) {
    font-size: 21px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}