---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$ubuntu: "Ubuntu", Arial, sans-serif !default;

// Custom
.archive__item-title a {
    text-decoration: none;
    font-family: $ubuntu;
}

.archive__item-excerpt {
  margin-top: 0.7em;
  font-family: $ubuntu;
  font-weight: 400;
}

.archive__item .page__meta {
    font-family: $ubuntu;
    font-weight: 400;
    font-size: 0.7em;
}

.page__content {
  font-family: $global-font-family;
  font-size: $type-size-5;
  line-height: 1.8;

  dl,p,li {
    font-size: 1.1em;
  }
}

.page__title {
    line-height: 1.3em;
    h1 {
      font-size: 1.3em;
    }
}

.highlighter-rouge {
    color: #4e91a5;
    background-color: #4e91a524;
}

.sidebar {
  font-size: 0.85em;
}

.sidebar .author__name {
  font-size: 1em;
}

.author__urls {
  a {
    font-size: inherit;
  }
}

.greedy-nav {
  font-family: $ubuntu;
  font-weight: 500;
  .masthead__menu-item,
  .site-subtitle {
    font-weight: 400;
  }
}